:host::ng-deep .p-inputtext{
  width: 100%;
}
:host::ng-deep label {
  margin-bottom: 10px;
  display: block;
  font-size: 1rem;
}
 .card-login{
  background-color: var(--white);
}
.content-form{
  box-shadow: 0 18px 24px rgb(0 0 0 / 12%);
}
.img-login{
  object-fit: cover;
}
