
<nav class="flex justify-content-end align-items-center">
  <div class="container">
    <div class="flex justify-content-between align-items-center">
      <!-- <button pButton type="button" icon="pi pi-plus" label="" class="p-button-danger pt-2 pb-2 pr-2 pl-2 text-200"></button> -->
      <app-button-add [label]="'Patients'"
      [fields]="$any(addFields)"
      ></app-button-add>
      <div class="content-end flex">
        <div class="card">
        <!-- <i class="pi pi-bell p-mr-4 p-text-secondary mr-3 mt-3"
          pBadge
          style="font-size: 2rem"
          value="2"
          severity="danger"
        ></i> -->
        </div>
        <p-button label="logOut" styleClass="p-button-raised p-button-danger mr-5" (onClick)="logout()"></p-button>
        <p-avatar image="assets/images/user-400-1.jpg"  shape="circle" size="large"></p-avatar>
      </div>
    </div>
  </div>
</nav>

