<app-breadcrumb [items]="items"></app-breadcrumb>
<div class="Last-patients mt-6">
  <h1 class="text-4xl font-medium"> With Doctor </h1>
  <app-table [DateBind]="data$"
  [searchTable]="'Appointment'"
  >
    <ng-template #header let-Patients>
      <th class="text-center"> id </th>
      <th class="text-center"> appointmentType </th>
      <th class="text-center"> reservationDate</th>
      <th class="text-center"> patientName </th>
      <th class="text-center"> createdBy </th>
      <th class="text-center"> updatedAt </th>
      <th class="text-center"> reservationStatus </th>
      <th class="text-center"> Action </th>
    </ng-template>
    <ng-template #body let-Doctor>
      <td>{{Doctor.id}}</td>
      <td>{{Doctor.appointmentType}}</td>
      <td>{{Doctor.reservationDate}}</td>
      <td>{{Doctor.patientName}}</td>
      <td>{{Doctor.createdBy}}</td>
      <td>{{Doctor.updatedAt}}</td>
      <td>{{Doctor.reservationStatus}}</td>
      <td class="flex justify-content-center">
        <app-actions
        [ConfirmStatus]="$any(checked)"
        [pageRedirect]="'with-doctor'"
        [idRow]="Doctor.patientId"
        (passId)="routeProfileParent($event)"
        >
        </app-actions>
      </td>
    </ng-template>
  </app-table>
</div>
