<ng-container *ngIf="!pageRedirect">
  <button icon="pi pi-eye" pButton type="button" (click)="routeProfile()"  class="p-button-outlined p-button-danger mr-2 p-button-rounded"></button>
</ng-container>
<ng-container *ngIf="pageRedirect">
  <button icon="pi pi-eye" pButton type="button" (click)="showDialog()" class="p-button-outlined p-button-danger mr-2 p-button-rounded"></button>
</ng-container>
<button icon="pi pi-pencil" pButton type="button" (click)="updateDialog()"  class="p-button-outlined p-button-danger mr-2 p-button-rounded"></button>
<ng-container *ngIf="!pageRedirect">
  <button icon="pi pi-image" pButton type="button" (click)="uploadFile()" class="p-button-outlined p-button-danger mr-2 p-button-rounded"></button>
  <button icon="pi pi-plus" (click)="openDialog()" pButton type="button" class="p-button-outlined p-button-danger mr-2  p-button-rounded"></button>
</ng-container>
<button icon="pi pi-trash" (click)="deleteConfirm()" pButton type="button" class="p-button-outlined p-button-danger  p-button-rounded"></button>
