<app-breadcrumb [items]="items"></app-breadcrumb>
<div class="Last-patients mt-6">
  <div class="flex justify-content-between mb-5">
    <h1 class="text-4xl font-medium"> Appointments </h1>
  </div>
  <app-table [DateBind]="data$"
  [searchTable]="'Appointment'"
  >
    <ng-template #header let-Appointment>
      <th class="text-center"> Id </th>
      <th class="text-center"> AppointmentType </th>
      <th class="text-center"> ReservationDate</th>
      <th class="text-center"> PatientName </th>
      <th class="text-center"> CaseDetails </th>
      <th class="text-center"> DoctorReport </th>
      <th class="text-center"> ReservationStatus</th>
      <th class="text-center"> Created_by</th>
      <th class="text-center"> Action </th>
    </ng-template>
    <ng-template #body let-Appointment>
      <td>{{Appointment.id}}</td>
      <td>{{Appointment.appointmentType}}</td>
      <td>{{Appointment.reservationDate}}</td>
      <td>{{Appointment.patientName}}</td>
      <td>{{Appointment.caseDetails | slice:0:50 }}</td>
      <td>{{Appointment.doctorReport | slice:0:50}}</td>
      <td>{{Appointment.reservationStatus}}</td>
      <td>{{Appointment.createdBy}}</td>
      <td>
        <app-actions
        [pageRedirect]="'Appointment'"
        [showFields]="$any(ShowFields)"
        [rowData]="Appointment"
        >
        </app-actions>
      </td>
    </ng-template>
  </app-table>
</div>
