<div class="bredcrumb mt-4 flex align-items-center justify-content-between">
  <p-breadcrumb [model]="items"></p-breadcrumb>
  <div class="icon-sidebar">
    <i class="pi pi-align-right p-menubar-button ng-star-inserted" style="font-size: 1.5rem"></i>
  </div>
</div>
<div class="Last-patients mt-6">

  <app-header-table [label]="'Add Appointments'"
  [header]="'Appointments'"
  >
  </app-header-table>

  <app-table [DateBind]="Appointments">
    <ng-template #header let-Patients>
      <th class="text-center"> ID </th>
      <th class="text-center"> Name </th>
      <th class="text-center"> Age</th>
      <th class="text-center"> Address </th>
      <th class="text-center"> Number </th>
      <th class="text-center"> Last visit </th>
      <th class="text-center"> Status</th>
      <th class="text-center"> Action</th>
    </ng-template>
    <ng-template #body let-Patients>
      <td>{{Patients.id}}</td>
      <td>{{Patients.name}}</td>
      <td>{{Patients.age}}</td>
      <td>{{Patients.address}}</td>
      <td>{{Patients.phone}}</td>
      <td>{{Patients.lastVisit}}</td>
      <td>{{Patients.status}}</td>
      <td class="flex justify-content-center">
        <button icon="pi pi-eye" pButton type="button"  class="p-button-outlined p-button-danger mr-2 p-button-rounded"></button>
        <button icon="pi pi-pencil" pButton type="button" class="p-button-outlined p-button-danger mr-2 p-button-rounded"></button>
        <button icon="pi pi-trash" pButton type="button" class="p-button-outlined p-button-danger  p-button-rounded"></button>
      </td>
    </ng-template>
  </app-table>
</div>
