<app-breadcrumb [items]="items"></app-breadcrumb>
<div class="Last-patients mt-6">
  <app-header-table [label]="'Patients'"
  [header]="'Patients'"
  [fields]="$any(addFields)"
  >
  </app-header-table>
  <app-table [DateBind]="data$">
    <ng-template #header let-Patients>
      <th class="text-center"> ID </th>
      <th class="text-center"> Full Name </th>
      <th class="text-center"> Birthday</th>
      <th class="text-center"> Age </th>
      <th class="text-center"> Address </th>
      <th class="text-center"> Phone_Number </th>
      <th class="text-center"> Created_Date </th>
      <th class="text-center"> Action </th>
    </ng-template>
    <ng-template #body let-Patients>
      <td>{{Patients.id}}</td>
      <td>{{Patients.fullName}}</td>
      <td>{{Patients.birthday}}</td>
      <td>{{Patients.age}}</td>
      <td>{{Patients.address | slice:0:25 }}</td>
      <td>{{Patients.phoneNumber}}</td>
      <td>{{Patients.createdAt}}</td>
      <td class="flex justify-content-center">
        <app-actions [ConfirmFieldsPatientsTimeAppointments]="$any(confirmFields)"
        [Delete]="$any(deleting)"
        [UpdatedFields]="$any(updateField)"
        [uploadFileFields]="$any(uploadFields)"
        [pageRedirect]="'patients'"
        [rowData]="Patients"
        [idRow]="Patients.id"
        >
      </app-actions>
      </td>
    </ng-template>
  </app-table>
</div>


