<app-breadcrumb [items]="items"></app-breadcrumb>
<div class="grid mt-4 mb-4">
  <div class="col-12 md:col-12">
    <form [formGroup]="form">
      <formly-form [form]="form" [fields]="PatientsFields" [model]="fieldsModel"></formly-form>
    </form>
  </div>
  <!-- <div class="col-12 md:col-6">
    <div class="card">
      <p-timeline [value]="events" class="w-full" [align]="'right'">
          <ng-template pTemplate="opposite" let-event>
            <div class="flex flex-column pb-2">
              <div class="header-time-line mb-2">
                <h2 class="mb-0"> {{ event.status }} </h2>
                <small [style]="'color : #bcbcbd'"> {{ event.date }} </small>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit
                amet consectetur adipisicing elit
              </p>
            </div>
          </ng-template>
      </p-timeline>
  </div>
  </div> -->
</div>
<div class="table-profile mt-4">
  <app-table [DateBind]="data$">
    <ng-template #header let-Patients>
      <th class="text-center"> id </th>
      <th class="text-center"> appointmentType </th>
      <th class="text-center"> reservationDate</th>
      <th class="text-center"> patientName </th>
      <th class="text-center"> createdBy </th>
      <th class="text-center"> updatedBy </th>
      <th class="text-center"> reservationStatus </th>
      <th class="text-center"> Action </th>
    </ng-template>
    <ng-template #body let-profile>
      <td>{{profile.id}}</td>
      <td>{{profile.appointmentType}}</td>
      <td>{{profile.reservationDate}}</td>
      <td>{{profile.patientName}}</td>
      <td>{{profile.createdBy}}</td>
      <td>{{profile.updatedBy}}</td>
      <td>{{profile.reservationStatus}}</td>
      <td class="flex justify-content-center">
        <app-actions
        [pageRedirect]="'profile'"
        [UpdatedFields]="$any(updateField)"
        [ConfirmStatus]="$any(checked)"
        [uploadFileFields]="$any(uploadFields)"
        [idRow]="profile.id"
        [rowData]="profile"
        [showFields]="$any(ShowFields)"
        [display]="profile.reservationStatus"
        ></app-actions>
      </td>
    </ng-template>
  </app-table>
</div>
